<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a routerLink="/bar-charts" class="nav-link">
        Bar chart
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/doughnut-charts" class="nav-link">
        Doughnut chart
      </a>
      </li>
    <li class="nav-item">
      <a routerLink="/radar-charts" class="nav-link">
        Radar chart
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/pie-charts" class="nav-link">
        Pie chart
      </a>
    </li>

  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
